<div class="wrapper">
    <section class="home-gradient" id="home">
        <div class="container">
            <div class="row justify-content-center mt-5 pt-5">

                <div class="col-md-7 mt-5 text-center">
                    <div class="home-description">

                        <h1 class="title mb-4">
                            La Plataforma web de micro empleos en tus manos 
                        </h1>


                        <p class="text">
                            Oferta tus servicios como electricista, albañil, jardinero<br> o el servicio que se te ocurra.
                        </p>

                    </div>

                    <a class="button radius-btn main-btn purple nav-link mt-4" href="#about">Ir a la aplicación</a>

                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-12 d-none d-md-block mt-5 pt-3" id="home-parallax">

                    <img class="mx-auto" data-depth="0.4" src="assets/images/1.png" alt="">

                    <img class="back" data-depth="0.1" src="assets/images/background/2.svg" alt="">
                    <img class="back-2" data-depth="0.2" src="assets/images/background/3.svg" alt="">

                    <img class="bg-parallax-1" data-depth="-0.2" src="assets/images/parallax/7.svg" alt="">
                    <img class="bg-parallax-2" data-depth="0.3" src="assets/images/parallax/9.svg" alt="">
                    <img class="bg-parallax-3" data-depth="-0.5" src="assets/images/parallax/12.svg" alt="">
                    <img class="bg-parallax-4" data-depth="0.1" src="assets/images/parallax/17.svg" alt="">
                    <img class="bg-parallax-5" data-depth="0.5" src="assets/images/parallax/21.svg" alt="">
                    <img class="bg-parallax-6" data-depth="-0.4" src="assets/images/parallax/15.svg" alt="">
                    <img class="bg-parallax-7" data-depth="0.2" src="assets/images/parallax/22.svg" alt="">
                    <img class="bg-parallax-8" data-depth="-0.3" src="assets/images/parallax/23.svg" alt="">

                </div>

            </div>
        </div>
    </section>
</div>

