<div class="wrapper">

    <section class="home-gradient v-height" id="home">
        <div class="container">
            <div class="row justify-content-center align-items-center v-height">

                <div class="col-md-7 text-center">
                    <div class="home-description">

                        <img class="w-50 my-5" src="assets/images/mipega-color.svg" width="100%">

                        <h1 class="title mb-4">
                            La plataforma web de micro empleos está en desarrollo
                        </h1>

                        <p class="text-white">
                            Visítanos en Facebook
                        </p>

                    </div>

                    <a class="button radius-btn main-btn blue nav-link mt-4" href="https://www.facebook.com/Mipega.bo" target="_blank">Ir a la página en Facebook</a>

                </div>

            </div>

            <div class="row justify-content-center v-height">

                <div class="col-md-12 d-none d-md-block mt-5 pt-3" id="home-parallax">

                    <img class="back" data-depth="0.1" src="assets/images/background/2.svg" alt="">
                    <img class="back-2" data-depth="0.2" src="assets/images/background/3.svg" alt="">

                    <img class="bg-parallax-1" data-depth="-0.2" src="assets/images/parallax/7.svg" alt="">
                    <img class="bg-parallax-2" data-depth="0.3" src="assets/images/parallax/9.svg" alt="">
                    <img class="bg-parallax-3" data-depth="-0.5" src="assets/images/parallax/12.svg" alt="">
                    <img class="bg-parallax-4" data-depth="0.1" src="assets/images/parallax/17.svg" alt="">
                    <img class="bg-parallax-5" data-depth="0.5" src="assets/images/parallax/21.svg" alt="">
                    <img class="bg-parallax-6" data-depth="-0.4" src="assets/images/parallax/15.svg" alt="">
                    <img class="bg-parallax-7" data-depth="0.2" src="assets/images/parallax/22.svg" alt="">
                    <img class="bg-parallax-8" data-depth="-0.3" src="assets/images/parallax/23.svg" alt="">

                </div>

            </div>
        </div>
    </section>

</div>