/* You can add global styles to this file, and also import other style files */
header {
    .navbar {
        .logo-1 {
            display: none;
        }
    }
    .nav-scroll {
        .logo-1 {
            display: block;
        }
    }
    .nav-scroll {
        .logo-2 {
            display: none;
        }
    }
}